*{
    padding: 3px;
    margin: 3px;
}
body {
    background: linear-gradient(90deg, rgba(171,171,171,1) 50%, rgba(92,102,100,0.6503851540616247) 100%);
}

header{
    background: radial-gradient(circle, rgba(95,255,242,1) 0%, rgba(20,58,103,1) 100%);
    border-radius: 20px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* INICIO HEADER */

.dividir{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav, div{
    flex-basis: 50%;
}

.listahorizontal{
    list-style-type: none; /* Elimina los puntos */
    padding: 0;            /* Elimina el padding predeterminado */
    margin: 0;             /* Elimina el margen predeterminado */
    display: flex;         /* Hace que los elementos hijos se muestren en línea */
    margin-right: 40px;    /* Añade un espacio entre los elementos */
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: initial;
    text-decoration: none;
    margin-bottom: 0;
    color: white;
}
a:hover{
    color: rgb(0, 0, 0);
    margin-bottom: 2px red solid;
    font-weight: bold;
    font-size: 20px;
}



/* FIN HEADER */
/* --------------------------------------------------------------------------------------------------------------- */
/* INCIO DEL CUERPO PRINCIPAL */

h2{
    text-align: center;
    font-size: 40px;
    color: rgb(18, 41, 41);
    justify-content: center;
    font-weight: bolder;
    font-style: initial;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(102, 96, 96);
    padding-top: 30px;
}

.img-principal{
    border-radius: 10px;
    width: 100%;
    height: 500px;
}
.sección-img li{
    text-align: center;
    justify-content: center;
}

.sección-img{
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.horizontal2 {
    list-style-type: none; /* Elimina los puntos */
    padding: 0;            /* Elimina el padding predeterminado */
    margin: 0;             /* Elimina el margen predeterminado */
    display: flex;         /* Hace que los elementos hijos se muestren en línea */
    justify-content: center; /* Centra los elementos en la línea */
}

.horizontal2 li {
    margin: 40px 10px;      /* Espacio entre los elementos de la lista */
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.horizontal2 li:hover{
    color: rgb(243, 0, 0);
    font-size: 20px;
    background-color: rgb(255, 255, 255);

}

.horizontal2 img {
    max-width: 300px;       /* Ajusta el tamaño de las imágenes (puedes cambiarlo según tu preferencia) */
    height: auto;           /* Mantiene la proporción de las imágenes */
}

/* FIN DEL CUERPO PRINCIPAL */
/* --------------------------------------------------------------------------------------------------------------- */

